.archive/**
.vscode/**
.vscode-test/**
docs/**
out/**
node_modules

# @esfx/equatable and dependencies:
!node_modules/@esfx/equatable/dist/cjs/**/*.js
!node_modules/@esfx/equatable/dist/cjs/**/*.js.map
!node_modules/@esfx/equatable/lib/**/*.js
!node_modules/@esfx/equatable/LICENSE
!node_modules/@esfx/equatable/THIRD_PARTY_NOTICES
!node_modules/@esfx/equatable/package.json
!node_modules/@esfx/equatable-native-*/dist
!node_modules/@esfx/equatable-native-*/index.js
!node_modules/@esfx/equatable-native-*/LICENSE
!node_modules/@esfx/equatable-native-*/package.json

# typescript:
!node_modules/typescript/lib/typescript.js
!node_modules/typescript/LICENSE.txt
!node_modules/typescript/package.json

# ref-napi and dependencies (NOTE: only loaded on win32-x64):
!node_modules/ref-napi/lib
!node_modules/ref-napi/prebuilds/
!node_modules/ref-napi/LICENSE
!node_modules/ref-napi/package.json
!node_modules/debug/src
!node_modules/debug/LICENSE
!node_modules/debug/package.json
!node_modules/ms
!node_modules/get-symbol-from-current-process-h/*.js
!node_modules/get-symbol-from-current-process-h/include
!node_modules/get-symbol-from-current-process-h/LICENSE
!node_modules/get-symbol-from-current-process-h/package.json
!node_modules/node-gyp-build/index.js
!node_modules/node-gyp-build/LICENSE
!node_modules/node-gyp-build/package.json
!node_modules/node-addon-api/index.js
!node_modules/node-addon-api/LICENSE.md
!node_modules/node-addon-api/package.json

# ffi-napi (NOTE: only loaded on win32-x64):
!node_modules/ffi-napi/lib
!node_modules/ffi-napi/prebuilds/
!node_modules/ffi-napi/LICENSE
!node_modules/ffi-napi/package.json

# ref-struct-di (NOTE: only loaded on win32):
!node_modules/ref-struct-di/lib
!node_modules/ref-struct-di/LICENSE
!node_modules/ref-struct-di/package.json

out/**
resources/**/*.d.ts
resources/octicons/**
resources/overview.gif
scripts/**
src/**
tools/**
.gitignore
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts
*.log
*.vsix
__tests__
jest.config.js
webpack.config.js
vsc-extension-quickstart.md
