.archive/**
.vscode/**
.vscode-test/**
docs/**
node_modules
!node_modules/@esfx/equatable
!node_modules/@microsoft/typescript-etw
!node_modules/typescript
!node_modules/ms
!node_modules/debug
!node_modules/get-symbol-from-current-process-h
!node_modules/node-addon-api
!node_modules/node-gyp-build
!node_modules/ref-napi
!node_modules/get-uv-event-loop=napi-h
!node_modules/ref-struct-di
!node_modules/ffi-napi
out/**
resources/**/*.d.ts
resources/octicons/**
resources/overview.gif
scripts/**
src/**
tools/**
.gitignore
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts
*.log
*.vsix
__tests__
jest.config.js
webpack.config.js
vsc-extension-quickstart.md
