body {
    background-color: transparent;
    padding: 0px;
}

div.message {
    padding-left: 20px;
    padding-right: 20px;
    cursor: default;
}

div.button-container {
	width: 100%;
	max-width: 300px;
	transition: max-width .2s ease-out;
	margin-top: 15px;
}

.button-container > .monaco-text-button {
	font-family: var(--vscode-font-family);
	text-decoration: none;
	box-sizing: border-box;
    display: flex;
    width: 100%;
    padding: 4px;
    text-align: center;
    cursor: pointer;
    justify-content: center;
    align-items: center;
	color: var(--vscode-button-foreground);
	background: var(--vscode-button-background);
}

div.tl {
    padding: 0px;
    cursor: pointer;
}

div.tl-row {
    display: flex;
    height: 100%;
    align-items: center;
    position: relative;
    line-height: 22px;
}

div.tl-row:hover {
    background-color: var(--vscode-list-hoverBackground);
}

div.tl-twistie.codicon {
    font-size: 16px;
    padding-left: 8px;
    height: 22px;
    width: 16px;
    box-sizing: content-box;
    white-space: nowrap;
}

div.tl-twistie {
    padding-left: 8px;
    padding-right: 6px;
    flex-shrink: 0;
    width: 16px;
    display: flex!important;
    align-items: center;
    justify-content: center;
    color: inherit!important;
    transform: translateX(3px);
    height: 100%;
    box-sizing: content-box;
    white-space: nowrap;
}

div.tl-indent {
    height: 100%;
    position: absolute;
    top: 0;
    left: 16px;
    pointer-events: none;
    box-sizing: content-box;
    white-space: nowrap;
}

div.indent-guide {
    display: inline-block;
    box-sizing: border-box;
    height: 100%;
    border-left: 1px solid transparent;
    transition: border-color .1s linear;
    box-sizing: content-box;
    white-space: nowrap;
}

div.tl-contents {
    display: flex;
    height: 22px;
    line-height: 22px;
    flex: 1;
    text-overflow: ellipsis;
    overflow: hidden;
    flex-wrap: nowrap;
    padding-left: 3px;
    box-sizing: content-box;
    white-space: nowrap;
}

span.label {
    color: var(--vscode-foreground);
}

span.description {
	color: var(--vscode-descriptionForeground);
    opacity: 0.7;
    margin-left: 5.85px;
}
